---
// Basic Layout for All Pages

import Footer from '@/components/Footer.astro'
import GoogleAnalytics from '@/components/GoogleAnalytics.astro'
import Header from '@/components/Header.astro'
// import LocaleHtmlHead from "@/components/i18n/LocaleHtmlHead.astro";
// import LocaleSuggest from "@/components/i18n/LocaleSuggest.astro";

// import { SITE_TITLE, SITE_DESCRIPTION, X_ACCOUNT } from '@/consts'
import { LOCALES } from '@/i18n'
import { ENV_VARS } from '@/utils/constants'
const locale = Astro.currentLocale
// const tr = useTranslations(Astro.currentLocale)
// import '@/styles/global.css'

interface Props {
  title?: string
  description?: string
  frontmatter?: undefined
}

// const { title, description } = Astro.props.frontmatter || Astro.props

// const localeTitle = title ? `${title} - ${tr(SITE_TITLE)}` : tr(SITE_TITLE)
// const localeDescription = description || tr(SITE_DESCRIPTION)
---

<html lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null}>
  <head>
    <meta charset="UTF-8" />
    <GoogleAnalytics measurementId={ENV_VARS.PUBLIC_GTAG} />
    <!-- <title>{localeTitle}</title> -->
    <!-- <meta name="description" content={localeDescription} /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <!-- {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    } -->

    <!-- favicon / manifest -->
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->

    <meta name="color-scheme" content="light dark" />

    <!-- OGP -->
    <meta property="og:type" content="website" />
    <!-- <meta property="og:title" content={localeTitle} />
    <meta property="og:site_name" content={localeTitle} />
    <meta property="og:description" content={localeDescription} /> -->
    <meta property="og:image" content={Astro.site + 'ogp.png'} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:locale" content={LOCALES[locale].lang || locale} />
    <meta name="twitter:card" content="summary" />
    <!-- <meta name="twitter:site" content={tr(X_ACCOUNT)} /> -->

    <!-- External Resource -->
  </head>

  <body>
    <!-- <LocaleSuggest /> -->
    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
